<!DOCTYPE html>
<html lang="en">

<head>
<title>Reset Password</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
.log {
	height: 400px;
	width: 400px;
	background-color: rgba(255, 255, 255, 0.13);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	padding: 50px 35px;
}

.btn1 {
	margin-top: 10px;
	width: 40%;
	background-color: antiquewhite;
	color: #080710;
	padding: 5px 0;
	font-size: 20px;
	font-weight: 500;
	border-radius: 2px;
	cursor: pointer;
}
</style>

<script th:inline="javascript">
		//check GlobalControllerAdvice java file in controller package
		//console.log(/[[${otpCreationTime2}]]/)

		let timeDifference = 0
	
		var localDateTime = /*[[${formattedDateTime}]]*/null;

		if (localDateTime) {
			var jsDate = new Date(localDateTime);
			var currentDate = new Date();
			var timeDifference1 = currentDate - jsDate;

			// Convert milliseconds to seconds
			timeDifferenceInSeconds = Math.floor(timeDifference1 / 1000);
			timeDifference = 60 - timeDifferenceInSeconds

			console.log(jsDate);
			console.log(currentDate)
			console.log("Time difference in seconds: "
					+ timeDifferenceInSeconds);
			// Now you can use jsDate in your JavaScript code
		} else {
			console.error("LocalDateTime is not available.");
		}
		
		if(timeDifference<0){
			timeDifference=0
		}

		function updateTiming() {
			document.getElementById('timingDisplay').innerText = `Timing: ${timeDifference} seconds`;
			timeDifference--; // Simulate the passage of one second

			if (timeDifference >= 0) {
				setTimeout(updateTiming, 1000); // Update every second
			}
			if(timeDifference<=10)
			{
				document.getElementById("timingDisplay").style.color='red';
			}
			
		}
		// Start updating the timing display
		setTimeout(updateTiming, 1000); // Initial delay of 1 second
	</script>

</head>

<body>

	<div
		style="width: 500px; background-color: rgb(192, 192, 192); margin: 0 auto;">
		<div class="container mt-3">

			<p th:text="${error}" style="color: red;"></p>
			
			<form action="#" method="post" id="action" class="log">
			    
				<h2>Password Reset Form</h2>
				<p>Please reset your password here</p>
				<h5 id="timingDisplay" style="color: green">Timing: 0 seconds</h5>
				<div th:if="${checkotp}">
					<div class="mb-3 mt-3">
						<p th:text="${missMatchPwdErr }" style="color: red"></p>
						<label for="email">New Password:</label> <input type="password"
							class="form-control" id="email" placeholder="Enter password"
							name="newPassword">
					</div>
					<div class="mb-3">
						<label for="password">Confirm New Password:</label> <input
							type="password" class="form-control" id="password"
							placeholder="Enter password" name="confirmPassword">

					</div>
					<button type="submit" class="btn btn-primary"
						onclick="document.getElementById('action').action='changePassword'">Change
						Password</button>

				</div>

				<div th:unless="${checkotp}">
					<p th:text="${otpError}" style="color: red"></p>
					<p th:text="${send_OTP}" style="color: rgb(0, 128, 0)"></p>
					<label for="otp">Enter OTP:</label> <input type="number"
						class="form-control" id="otp" placeholder="Enter otp" name="otp">

					<button type="submit" class="btn1"
						onclick="document.getElementById('action').action='sendotp'">Resend
						OTP</button>
					<button type="submit" class="btn1"
						onclick="document.getElementById('action').action='checkotp'">Submit
						OTP</button>

				</div>
		</div>

		</form>
	</div>
	</div>


	
</body>

</html>